@CHARSET "ISO-8859-1";

/* HEADER */
	#header {
    height: 115px;
    width: 100%;
	}
	
	#top-menu {
	height: 30px;
	margin: 0 0 25px;
	width: 100%;
	}
	#header .login {
	text-align: center;
	}
	
	#header .login .label{
	margin-right: 4px;
	font-weight: bold;
	}
	
	#header .login .campo{
	margin-right: 8px;
	}
	
	#header .login .primeiroCampo{
	margin-left: 20px;
	}
	
	#header .description {
    float: left;
    width: 100%;    
    padding-top: 10px;
    padding-bottom: 10px;
	}
	#header .description .left{
	float: left;
	}
	#header .description .right {
    float: left;
	}
	#header .description .right, #header .description .left {
    width: 30px;
	height: 30px;
	}
	#header .description .text {
    background: none repeat scroll 0 0 #E72100;
    color: #FFFFFF;
    height: 30px;
    padding: 0px 0px;
    width: 94%;	
	float: left;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 14px;
	}
	#header .description .text .text-left {
    float: left;
    text-align: left;
	}
	#header .description .text .text-right {
    float: right;
    text-align: right;
	}
	
	#header .logout {
		float: right;
	}
	
	#header .logo {
		clear:none;
		height: 50px;
	}
/**/