.catalog-filter-ie7 {
	margin-top: -25px;
	margin-bottom: 25px;
}

.calendar-button button{
	height: 26px;
	margin-left: 1px;
}

.campaign-details-motive-ie7{
    width: 50%;
    height: 250px;
    padding-left: 0px;
    position: static;
}

.dialog-ie7 {
	height: auto !important;
	width: 250px !important;
}

.dialog-ie7-regrasAut {
	height: auto !important;
	width: 570px !important;
}

.dialog-ie7-regrasMan {
	height: auto !important;
	width: 500px !important;
}

.dialog-ie7-regrasInt {
	height: auto !important;
	width: 450px !important;
}

.dialog-campaign-catalog-ie7 {
	height: auto !important;
	width: 285px !important;
}

.dialog-campaign-catalog-confirmation-ie7 {
	height: auto !important;
	max-width: 300px !important;
}

.dialog-ie7-contestacao {
	height: auto !important;
	width: 630px !important;
}

.apuracao-panel-modal-nf-ie7 {
	width: 248px;
}