.upload-space {
	margin-top: 10px;
	height: 50px;
}

.input-file {
	margin-left: 8px;
}

.dialog-ie7 {
	height: auto !important;
	width: 250px !important;
}

.calendar-button button {
	height: 25px;
	margin-left: 1px;
}

.dialog-ie7-notafiscal {
	height: auto !important;
	width: 300px !important;
}

.dialog-ie7-reprovacao {
	height: auto !important;
	width: 300px !important;
}

.dialog-ie7-contestacao-dpi {
	height: auto !important;
	width: 650px !important;
}

#gridCondicoes .ui-datatable-tablewrapper {
	overflow: hidden;
}

#gridRegraAutMeta .ui-datatable-tablewrapper {
	overflow: hidden;
}

#cboRegiao {
	width: 87px !important;
}

.dialog-campanha-resumo-aprovar {
	height: auto !important;
	width: 285px !important;
}

.dialog-campanha-resumo-reprovar {
	height: auto !important;
	width: 570px !important;
}

.dialog-campanha-resumo-motivo {
	height: 235px !important;
	width: 570px !important;
}

#gridChassi .ui-datatable-scrollable-body {
	overflow-y: hidden;
}

#cboStatusApuracao {
	width: 310px !important;
}

#cboMesApuracao {
	width: 150px !important;
}

#cboPeriodicidade {
	width: 150px !important;
}

#cboApuracao {
	width: 220px !important;
}

#cboCampanha {
	width: 380px !important;
}

#gridChassi .ui-datatable-tablewrapper {
	overflow: hidden;
}

#grdValorIntegral .ui-datatable-tablewrapper {
	overflow: hidden;
}

.dialog-campaign-catalog-ie7 {
	height: auto !important;
	width: 285px !important;
}

.regrasDetalhesUploadButtonColumn .ui-fileupload-simple {
	position: fixed !important;
	margin: -16px 0px 0px 0px;
}

#txtNomeApuracao {
	width:340px !important;
}

#txtCodigoConcessionaria {
	width:188px !important;
}

.chassiExclusao {
	width:372px !important;
}

.dialog-apuracao-listagem-concessionaria-ie7 {
	height: auto !important;
	width: 380px !important;
}

#chkArrasto div.ui-chkbox-box, #chkArrasto span{
	float: left;
}