/* Commons */
body,div,td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    word-wrap: break-word;
}

body {
    background-color: #fff;
    text-align: left;
}

a img {
    border: 0 none;
    vertical-align: middle;
}

a {
    text-decoration: underline;
    color: #0070a3;
}

a:hover {
    color: #0070a3;
}

a:active {
    color: #0070a3;
}

a:visited {
    color: #0070a3;
}

.disabled {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE 8 */	
	filter: alpha(opacity=60); /* IE 5-7 */	
	-moz-opacity: 0.6; /* Netscape */	
	-khtml-opacity: 0.6; /* Safari 1.x */	
	opacity: 0.6; /* Good browsers */
}

.fixTableHiddenColumns {
	display: none;
}

.wrapper {
    width: 1024px;
    min-width: 1024px;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto; /* fix max-width incompatibility in IE6 */
    width: expression(document.body.clientWidth > 1024 ? "1024px" : "auto");
    overflow: hidden;
    display: block;
}

.menu {    
    text-align: left;
}

.menu .ui-menuitem a{
	color: #0070A3;
}

.menu-ex {
    width: 266px;    
}

.menu-message {
	text-align: left !important;
	width: 237px;
}

.login-input {
	width: 169px;
}

.content {
    width: 770px;
    height: auto;
    vertical-align: top;
    text-align: left;
}

.banner {
    margin-bottom:5px;
}

.action-column {
    text-align: center;
    width: 120px !important;
}

.dialog {
    width: auto;
}

.col1 {
    vertical-align: top;
    font-weight: bold;
}

.col2 {
    vertical-align: top;
}

.col3 {
    vertical-align: top;
}

.center {
	align: center;
}

.center-obj {
	position:absolute;
	top:20%;
	left:50%;
	margin-left:-135px;
}

.content-access-denied {
	width: 750px !important;
}

fieldset {    
    border-radius: 5px;
    border: 1px solid #c0c0c0;  
}

legend {
	 font-weight: bold;
}

/* Create Campaign */

.checkbox {
	margin: 5px;
}

.fl {
	float: left;
}

.button {
	margin: 15px 5px 10px 0;
}

/* Home layout. */
.home-div {
	width: 800px;
	height: 250px;
	background-color: #fff;
	border: 1px solid #c0c0c0;
	font-size: large;
	font-family: monospace;
	text-align: center;
}

/* Main layout. */
.menuBase {
	width: 225px;
	float: left;
	border-radius: 5px;
    border: 1px solid #c0c0c0;
    padding-left: 10px;
  	padding-bottom: 25px;
  	min-width: 215px;
  	background-color: #fff;
  	margin-bottom: 30px;
}

.contentBase {
	padding-left: 240px;
	padding-top: 15px;
	margin-bottom: 30px;
	position: static;
}

/* Campanha */
.checkbox {
	margin: 5px;
}

.background-white {
	background-color: white;
}

.ui-picklist {
  height: 100px !important;
}

.ui-picklist-buttons {
  vertical-align: top !important;
  height: 100px !important;
}

.ui-picklist .ui-picklist-list {
	width: 105px !important;
	height: 105px !important;
}

.ui-picklist-filter-container {
	width: 90px !important;
	margin-bottom: 5px !important;
}

/* Primefaces messages */
.ui-messages-fatal {
	color: #119110;
	background-color: #DEF2DE;
	border-color: #D3EED3;		
}

/*Loading header*/
span.ui-dialog-title {
	font-size: 15px !important;
}

/*Error message break line*/
.messages-error-detail span {
	white-space: pre !important;
	margin-left: 0px !important;
}

.login-align {
	width: 230px;
	text-align: center;
}

.gridFiltroApuracao.ui-panelgrid>*>tr,
.gridFiltroApuracao.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.grid-sem-borda.ui-panelgrid>*>tr,
.grid-sem-borda.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.grid-sem-borda-transparente.ui-panelgrid>*>tr,
.grid-sem-borda-transparente.ui-panelgrid .ui-panelgrid-cell {
    border: none;
    background: transparent !important;
}

#cbMonth_panel .ui-selectonemenu-items-wrapper {
	width:110px;
}

#uploadMeta_input{
	font-size: 12px !important;
}

#cboCampanha_panel .ui-selectonemenu-list-item {
	padding-right: 0px;
}

#cboRegiao_panel .ui-selectonemenu-items-wrapper {
	overflow-x: hidden;
}

.rmUploadBox .ui-widget-header {
	border: none !important;
	background: none !important;
}
.rmUploadBox .ui-fileupload-content {
	display: none !important;
}

.catalog-select-column {
	width: 20px; 
	height: 20px;
}

.catalog-select-column-checkbox {
	width: 25px; 
	height: 25px;
}

.catalog-filter-component {
	margin-right: 16px !important;
}

.catalog-filter-sub-component {
	margin-right: 5px !important;
}

#dtlResultadoApuracoesSelecionadas_content {
	border: none;
    background: transparent;
    background-image: none;
}

#cboMesApuracao_panel .ui-selectonemenu-items-wrapper {
	overflow-x: hidden;
}

.regrasDetalhesUploadButtonColumn .ui-fileupload-simple {
	position: fixed !important;	
	margin: 4px 0px 0px 10px;	
}

.regrasDetalhesUploadButtonColumn {
	display: inherit;
	border: 0px !important;
}

#cboCampanha {
	width: 400px !important;
}

#cboApuracao {
	width: 220px !important\9;
}

#cboCampanha_panel .ui-selectonemenu-items-wrapper {
	overflow-x: hidden;
}

td.alinhar-direita {
	text-align: right;
}

td.alinhar-esquerda {
	text-align: left;
}

td.alinhar-centro {
	text-align: center;
}

/************************************************************
 * Facebook icon
 ************************************************************/
.facebookIcon {
	background-color: #3B5998 !important;
	border: 2px solid #95A5C7;
	color: #EEE !important;
	text-shadow: none !important;
}

/************************************************************
 * Side menu
 ************************************************************/
.sideMenu a{
	font-size: 96% !important;
}
 
/************************************************************
 * Hacks IE8 Only
 ************************************************************/
@media \0screen {
	.regrasDetalhesUploadButtonColumn .ui-fileupload-simple { 
		position: inherit !important;
		margin: 0px;
	}	
	
	.ie8fix_width { 
		width: auto !important; 
	}
	
	.ui-state-disabled .ui-selectonemenu-trigger {
		border-left: none;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	}
}

.ui-datatable-data .alinhamento-valores-grid {
	text-align: right;
}
