body,div,td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    word-wrap: break-word;
}

body {
    background-color: #fff;
    text-align: left;
}

a img {
    border: 0 none;
    vertical-align: middle;
}

a {
    text-decoration: underline;
    color: #0070a3;
}

a:hover {
    color: #0070a3;
}

a:active {
    color: #0070a3;
}

a:visited {
    color: #0070a3;
}

.wrapper {
    width: 1024px;
    min-width: 1024px;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto; /* fix max-width incompatibility in IE6 */
    width: expression(document.body.clientWidth > 1024 ? "1024px" : "auto");
    overflow: hidden;
    display: block;
}

.menu {
    width: 230px;
    vertical-align: top;
    text-align: center;
    margin-right: 5px;
    word-wrap: break-word;
}

.content {
    width: 98%;
    height: auto;
    vertical-align: top;
    text-align: left;
}

.banner {
    margin-bottom:5px;
}

.action-column {
    text-align: center;
    width: 120px !important;
}

.ui-selectmanymenu {
    width: 155px !important;
    height: 100px !important;
}

.dialog {
    width: auto;
}

.col1 {
    vertical-align: top;
    font-weight: bold;
}

.col2 {
    vertical-align: top;
}

.col3 {
    vertical-align: top;
}

.required{ 
	border:1px solid #cd0a0a !important;
}

.catalog-filter{
	margin-top: 3px;
	margin-bottom: 25px;
}

.catalog-filter-component{
	margin-right: 16px !important;
}

.catalog-filter-sub-component{
	margin-right: 5px !important;
}

.catalog-modal-body{
	margin: 5px;
}

.catalog-modal-upload-file{
	margin: 5px;
}

.dialog-campaign-catalog {
	height: auto !important;
	max-width: 500px !important;
}

.dialog-campaign-catalog-confirmation {
	height: auto !important;
	max-width: 300px !important;
}

.catalog-first-division{
	width: 20%; 
	float: left; 
	margin: 5px;
}

.catalog-second-division{
	width: 70%; 
	float: left; 
	margin: 5px;
}

#campanhasSelecionadas_content{
	border: none;
}

.catalog-select-column{
	width: 20px; 
	height: 20px;
}

.catalog-select-column-checkbox{
	width: 25px; 
	height: 25px;
}

.campaign-details-content{
	width: 100%;
	min-width: 1001px;
	float: left;
	height: auto;	
}

.campaign-details-bonus{
	width: 37%;
	padding-right: 45px;
	min-width: 475px;
	float: left;
	padding-bottom: 20px !important;
}

.campaign-details-motive{
    width: 50%;
    height: 250px;
    padding-left: 520px;
    position: static;
}

.campaign-details-motive-fieldset{
	height: auto;
	min-height: 150px;
	max-height: 249px;
}

.campaign-details-fieldset{
	width: 100%;
	min-width: 1001px;
	height: auto;
	padding-bottom: 10px;
	float: left;
}

.campaign-details-fieldset-div{
	width: 100%;
	min-width: 1000px;	
}

.campaign-details-fieldset-columns{
	width: 33%;	
	float: left;
}

.campaign-details-fieldset-cell1{
	width: 30%;	
	min-width: 110px;
	float: left;
}

.campaign-details-fieldset-cell2{
	width: auto;
	min-width: 20%;
	max-width: 60%;	
	float: left;
}

.campaign-details-fieldset-cell3{
	width: 45%;
	min-width: 180px;
	float: left;
}

.campaign-details-fieldset-cell4{
	width: auto;
	min-width: 20%;
	max-width: 45%;		
	float: left;
}

.campaign-details-fieldset-cell5{
	width: 21%;
	min-width: 87px;
	line-height: 25px;	
	float: left;
}

.campaign-details-fieldset-cell6{
	width: auto;
	min-width: 20%;
	max-width: 60%;	
	float: left;
}

/* Primefaces messages */
.ui-messages-fatal {
	color: #119110 !important;
	background-color: #DEF2DE !important;;
	border-color: #D3EED3 !important;;		
}

#cbMonth_panel .ui-selectonemenu-items-wrapper {
	width:110px;
}

#dtlResultadoApuracoesSelecionadas_content{
	border: none;
    background: transparent;
    background-image: none;
}

.rmUploadBox .ui-widget-header {
	border: none !important;
	background: none !important;
}
.rmUploadBox .ui-fileupload-content {
	display: none !important;
}