<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="../templates/layoutMobile.xhtml">
	<ui:define name="content"> 
   		<script type="text/javascript" src="../resources/js/inputMask.js"/>             
		<h:form id="frmBusca" enctype="multipart/form-data" prependId="false" >
			<p:panel id="busca" header="#{messages.label_title_busca_cad_festa_julina_codigoCadastro}" rendered="true">
	
				<br></br>
				<p:panel rendered="true" cellpadding="10">			
					<h:panelGrid id="grid" columns="1" cellpadding="5"> 	
						<p:outputLabel for="codigoCadastro" value="#{messages.label_field_busca_cad_festa_julina_codigoCadastro}" />					
						<p:inputText id="codigoCadastro" maxlength="255" value="#{cadFestaJulinaController.cadFestaJulinaTO.codigoCadastro}" 
									requiredMessage="#{messages.label_validation_sem_number_busca_cad_festa_julina_codigoCadastro}" 
									converterMessage="#{messages.label_validation_caracter_busca_cad_festa_julina_codigoCadastro}"
									required="true" placeholder="Apenas Numeros">
							<f:validateRequired for="codigoCadastro"/>
							<p:ajax update="msgCodigoCadastro" event="blur"/>	
						</p:inputText>
						<p:message for="codigoCadastro" id="msgCodigoCadastro"/>
					</h:panelGrid>
				
				</p:panel>
				
				<br></br>
				
				<p:commandButton id="btnBuscar" value="#{messages.btn_buscar}" ajax="false" disabled="false" 
					actionListener="#{cadFestaJulinaController.buscaCadFestaJulinaPorCodigoDeCadastro}" 
					immediate="true" styleClass="ui-btn-inline" icon="ui-icon-search">
				</p:commandButton>
				<p:messages id="messageCodigo" showDetail="true" showIcon="true" redisplay="false" /> 
				 	         
    				
				<br />
			</p:panel>	
			
			<br></br>
			<p:separator/>
			<br></br>
			
			<p:panel id="buscaNome" header="#{messages.label_title_busca_cad_festa_julina_nome}" rendered="true">
				
				<br></br>
				<p:panel rendered="true" cellpadding="10">
					<h:panelGrid id="gridNome" columns="1" cellpadding="5"> 
						<p:outputLabel for="nome" value="#{messages.label_field_cadastro_festa_julina_nome}" />						
						<p:inputText id="nome" size="50" maxlength="255" value="#{cadFestaJulinaController.cadFestaJulinaTO.nome}" 
					    	requiredMessage="#{messages.label_validation_sem_number_busca_cad_festa_julina_nome}" placeholder="Nome Sobrenome">
					    	<f:attribute name="swichtParameter" value="busca"/> 
					    	<f:validator binding="#{nomeValidator}" />
							<p:ajax update="msgNome" event="blur"/>	
						</p:inputText>
						<p:message for="nome" id="msgNome"/>
					</h:panelGrid>
				</p:panel>
				<br></br>
				
				<p:commandButton id="btnBuscarNome" value="#{messages.btn_buscar}" ajax="false" disabled="false" 
					actionListener="#{cadFestaJulinaController.buscaCadFestaJulinaPorCampo}" 
					immediate="true" styleClass="ui-btn-inline" icon="ui-icon-search">
					<p:messages id="messageNome" showDetail="true" showIcon="true" redisplay="false" /> 	  
				</p:commandButton>
				<br />
			</p:panel>
			
			<br></br>
			<p:separator/>
			<br></br>
			
			<p:panel id="buscaEmail" header="#{messages.label_title_busca_cad_festa_julina_email}" rendered="true">
				
				<br></br>
				<p:panel rendered="true" cellpadding="10">
					<h:panelGrid id="gridEmail" columns="1" cellpadding="5"> 
						<p:outputLabel for="email" value="#{messages.label_field_cadastro_festa_julina_email}" />						
						<p:inputText id="email" size="50" maxlength="255" value="#{cadFestaJulinaController.cadFestaJulinaTO.email}" 
					    	requiredMessage="#{messages.label_validation_sem_number_busca_cad_festa_julina_email}" placeholder="usuario@email.com">
					    	<f:attribute name="swichtParameter" value="busca"/> 
					    	<f:validator binding="#{emailValidator}" />
							<p:ajax update="msgEmail" event="blur"/>	
						</p:inputText>
						<p:message for="email" id="msgEmail"/>
					</h:panelGrid>
				</p:panel>
				<br></br>
				
				<p:commandButton id="btnBuscarEmail" value="#{messages.btn_buscar}" ajax="false" disabled="false" 
					actionListener="#{cadFestaJulinaController.buscaCadFestaJulinaPorCampo}" 
					immediate="true" styleClass="ui-btn-inline" icon="ui-icon-search"/>
				<p:messages id="messageEmail" showDetail="true" showIcon="true" redisplay="false"/> 	 
				
				<br />
			</p:panel>
			
			<br></br>
			<p:separator/>
			<br></br>
			
			<p:panel id="buscaCelular" header="#{messages.label_title_busca_cad_festa_julina_celular}" rendered="true">
				
				<br></br>
				<p:panel rendered="true" cellpadding="10">
					<h:panelGrid id="gridCelular" columns="1" cellpadding="5"> 
						<p:outputLabel for="celular" value="#{messages.label_field_cadastro_festa_julina_celular}" />						
						<p:inputMask id="celular" value="#{cadFestaJulinaController.cadFestaJulinaTO.celular}" mask="(999) 99999-9999" 
							requiredMessage="#{messages.label_validation_sem_dado_cad_festa_julina}" placeholder="(DD) 00000-0000" >
					    	<f:attribute name="swichtParameter" value="busca" /> 
					    	<f:validator binding="#{celularValidator}" />
							<p:ajax update="msgCelular" event="blur"/>
						</p:inputMask>
						<p:message for="celular" id="msgCelular"/>
					</h:panelGrid>
				</p:panel>
				<br></br>
					
				<p:commandButton id="btnBuscarCelular" value="#{messages.btn_buscar}" ajax="false" disabled="false" 
					actionListener="#{cadFestaJulinaController.buscaCadFestaJulinaPorCampo}" 
					immediate="true" styleClass="ui-btn-inline" icon="ui-icon-search"/>
				<p:messages id="messageCelular" showDetail="true" showIcon="true" redisplay="false"/> 
								
  			<br />
			</p:panel>		
		</h:form>
	</ui:define>
</ui:composition>
</html>