<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
			
	<ui:composition template="../templates/layoutMobile.xhtml">
		<ui:define name="content">
			<script type="text/javascript" src="../resources/js/facebook.js"/>	
				<h:form id="frmCadastro" enctype="multipart/form-data" prependId="false" >
				<p:panel id="cadastro" header="#{messages.label_title_cad_festa_julina_confirmacao}" rendered="true" cellpadding="10">
					<p:column headerText="#{messages.label_field_cadastro_festa_julina_Confirmcao_codigo}">
							<h:outputText value="#{listCadFestaJulinaTO.codigoCadastro}" />
					</p:column>
				</p:panel>
			</h:form>
		</ui:define>
	</ui:composition>
</html>