<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">
		<h:form id="frmNormalizacao" enctype="multipart/form-data" prependId="false" > 
			<p:panel id="normalizacao"  header="#{messages.label_uploadPlanilhaDI_title_upload}" rendered="true" >
				<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" showIcon="false" showSummary="false" />
				<p:panelGrid id="grdNormalizacao" >   
					<p:panel rendered="true">
						<h:outputLabel value="Escolha o arquivo para Upload: " />
						<br></br>
						<br></br>							
						<p:fileUpload value="#{uploadPlanilhaDIController.file}" mode="simple" skinSimple="true" allowTypes="/(\.|\/)(xls|pdf|txt|pdf)$/"/>
						
						<br></br>
						<br></br>				
						
						<p:commandButton actionListener="#{uploadPlanilhaDIController.upload}"  value="#{messages.label_uploadPlanilhaDI_upload}" ajax="false"
						styleClass="ui-btn-inline"/>
					</p:panel>
				</p:panelGrid>
				
				<br />
				<br />
							
				<p:dataTable id="listResultados" value="#{uploadPlanilhaDIController.listNormalizacaoListagemTO}" var="listNormalizacaoListagemTO" 
				resizableColumns="false" paginator="true" emptyMessage="#{messages.grd_semResultado}" rowsPerPageTemplate="5,10,25,50" rows="10" paginatorPosition="bottom" 
				paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"		
				rowKey="#{listNormalizacaoListagemTO.cdNF}" rowSelectMode="checkbox" >																
					
					<p:column headerText="#{messages.normalizacao_listagem_numero_nf}" sortBy="#{listNormalizacaoListagemTO.cdNF}">
						<h:outputText value="#{listNormalizacaoListagemTO.cdNF}" converter="javax.faces.Long" />
					</p:column>
					
					<p:column headerText="#{messages.normalizacao_listagem_serie}" sortBy="#{listNormalizacaoListagemTO.cdSerieNF}">
						<h:outputText value="#{listNormalizacaoListagemTO.cdSerieNF}" converter="javax.faces.Integer"/>
					</p:column>
					
					<p:column headerText="#{messages.normalizacao_listagem_filial}" sortBy="#{listNormalizacaoListagemTO.cdFilial}">
						<h:outputText value="#{listNormalizacaoListagemTO.cdFilial}" converter="javax.faces.Long"/>
					</p:column>
					
					<p:column headerText="#{messages.normalizacao_listagem_valor_total_icms}" sortBy="#{listNormalizacaoListagemTO.vrICMSTotal}">
						<h:outputText value="#{listNormalizacaoListagemTO.vrICMSTotal}" converter="javax.faces.Double"/>
					</p:column>
					
					<p:column headerText="#{messages.normalizacao_listagem_tipo_transporte}" sortBy="#{listNormalizacaoListagemTO.cdTipoTransporte}">
						<h:outputText value="#{listNormalizacaoListagemTO.cdTipoTransporte}" converter="javax.faces.Integer"/>
					</p:column>
					
					<p:column headerText="#{messages.normalizacao_listagem_numero_di_preliminar}" sortBy="#{listNormalizacaoListagemTO.cdDIPreliminar}">
						<h:outputText value="#{listNormalizacaoListagemTO.cdDIPreliminar}" />
					</p:column>
					
					<p:column headerText="#{messages.normalizacao_listagem_data_di_preliminar}" sortBy="#{listNormalizacaoListagemTO.dtDIPreliminar}">
						<h:outputText value="#{listNormalizacaoListagemTO.dtDIPreliminar}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>
					
					<p:column headerText="#{messages.normalizacao_listagem_valor_base_calculos}" sortBy="#{listNormalizacaoListagemTO.vrBaseCalculo}">
						<h:outputText value="#{listNormalizacaoListagemTO.vrBaseCalculo}" converter="javax.faces.Double"/>
					</p:column>	
					
					<p:column headerText="#{messages.normalizacao_listagem_valor_total_produto}" sortBy="#{listNormalizacaoListagemTO.vrTotalProduto}">
						<h:outputText value="#{listNormalizacaoListagemTO.vrTotalProduto}" converter="javax.faces.Double"/>
					</p:column>	
					
					<p:column headerText="#{messages.normalizacao_listagem_status_envio}" sortBy="#{listNormalizacaoListagemTO.statusEnvio}">
						<h:outputText value="#{listNormalizacaoListagemTO.statusEnvio}" />
					</p:column>																																																									
					
				</p:dataTable>
						
				<p:panelGrid>
					<p:column colspan="8">
						<p:commandButton id="btnReenviar" value="#{messages.btn_reenviar}" ajax="true" disabled="false" style="margin:5px"
							actionListener="#{normalizacaoNFController.reenvioenviaListaNFE()}" update="normalizacao"
							styleClass="ui-btn-inline"/>					
					</p:column>
				</p:panelGrid>				
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>