<!-- <?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:composition template="../templates/layout.xhtml">
		<ui:define name="content">
		
			<h:form prependId="false" id="growlForm">
					<p:growl id="growl" showDetail="false" />
		  	</h:form>
		  
		  	<h:panelGroup layout="block" style="width: 100%">     		
				<p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();" />  
		              
				<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">  
				    <h:graphicImage library="images" name="ajaxloadingbar.gif" />  
				</p:dialog>
						
				<h:form enctype="multipart/form-data">
					<p:panel id="data"  header="#{messages.message_erro_tela}" rendered="true" style="margin-bottom:10px; width: 100%" >
						<br></br>
						<div class="right" style="width:35px">
							<h:graphicImage library="images" name="xno-p2-ihs.png" /> 
						</div>	
					</p:panel>
				</h:form>
				
				<h:form>			
					<br></br>
				    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" showSummary="false"/>		 
				    	<br></br>		    
				</h:form>										
			</h:panelGroup>
		</ui:define>
	</ui:composition>
</html> -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition>
<body onload="relogio('relogio');" >
	<div id="header" style="width: 100%;">
		<h:panelGroup layout="block" style="min-width: 100%">
		<div class="logout">
			<h:graphicImage library="images" name="logout-ihs.png" onclick="window.close(); return false;" />
		</div>
		<div class="logo" align="center">
			<h:graphicImage library="images" name="bola.png" />
		</div>
		<br />
		<br />
		<br />
		
		<div class="login">						
			<h:outputText value="Data/Hora:"  class="label"/>
			<span class="campo" id="relogio"> </span>			
		</div>
		
		<div class="description">
			<div class="left">	
				<h:graphicImage library="images" name="xno-p1-ihs.png" /> 
			</div>
			<div class="text">
				<div class="text-left" style="padding-top: 7px;">#{messages.submenu_festa_julina}</div>
			</div>
			<div class="right" style="width:35px">
				<h:graphicImage library="images" name="xno-p2-ihs.png" /> 
			</div>
		</div>
		
		</h:panelGroup>
	  </div>
</body>	  	
</ui:composition>
</html>