<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition>
	<div id="footer">
		<h:form id="formFooter" prependId="false">
			<p:ajaxStatus onstart="PF('statusDialog').show();"
						  onsuccess="PF('statusDialog').hide();" />

			<p:dialog widgetVar="statusDialog" modal="true" draggable="false" styleClass="dialog-ie7"
				closable="false" resizable="false" showHeader="true" header="#{messages.label_wait}">
				<p:graphicImage library="images" name="ajax-loader-bar.gif" />
			</p:dialog>
		</h:form>
	</div>
</ui:composition>
</html>