<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition>
  <title>#{messages.label_application_name}</title>
<!--  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />  
   <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/favicon.ico"/> -->
  <!--<h:outputStylesheet library="css" name="standard.css" />-->
  <h:outputStylesheet library="css" name="header-ihs.css" />
  <!--[if IE 7]><link rel="stylesheet" href="../resources/css/ie7-ihs.css" type="text/css"><![endif]-->
  
  <h:outputScript library="js" name="general.js" />
  <h:outputScript library="js" name="calendar.js" /> 
  <h:outputScript library="js" name="util.js" />
  
</ui:composition>
</html>