<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition>
	<title>#{messages.label_application_name}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="shortcut icon" type="image/x-icon"
		href="#{request.contextPath}/resources/images/bola.ico" />
	<!-- BEGIN Style Sheets -->
	<link rel="stylesheet" type="text/css"
		href="../resources/css/standard.css" />

	<script type="text/javascript"
		src="../resources/js/calendar.js"></script>
	<script type="text/javascript"
		src="../resources/js/util.js"></script>	
		
<!-- 	<script name="jquery/jquery.js" library="primefaces"></script> -->	
		
	<!--[if IE 7]><link rel="stylesheet" href="../resources/css/ie7.css" type="text/css"><![endif]-->
	<!-- END Style Sheets -->
</ui:composition>
</html>