<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<f:view locale="#{localeBean.locale}" contentType="text/html">
  <h:head>
    <ui:insert name="header">
      <ui:include src="header-ihs.xhtml" />
    </ui:insert>
    
    <h:outputStylesheet library="css" name="standard-ihs.css"  />
  </h:head>
  <h:body
    style="margin: 8px 8px !important;" >
        <h:panelGroup>
          	<ui:insert name="common-content">
            	<ui:include src="common-content-ihs.xhtml" />
          	</ui:insert>
          	<div styleClass="content">
            	<ui:insert name="content" />   
        	</div>
        </h:panelGroup>
        <ui:insert name="footer">
        	<ui:include src="footer.xhtml" />
        </ui:insert>
  </h:body>
</f:view>
</html>