<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:c="http://java.sun.com/jstl/core" 
  xmlns:f="http://java.sun.com/jsf/core" 
  xmlns:h="http://java.sun.com/jsf/html" 
  xmlns:ui="http://java.sun.com/jsf/facelets" 
  xmlns:p="http://primefaces.org/ui"> 
<f:view locale="#{localeBean.locale}" contentType="text/html"> 
  <h:head> 
    <ui:insert name="header"> 
      <ui:include src="header.xhtml" /> 
    </ui:insert> 
  </h:head> 
  <h:body> 
    <p:layout fullPage="true"> 
      <p:layoutUnit id="leftPanel" position="west" size="247" 
        resizable="false" closable="false" collapsible="false" effect="drop"> 
        <h:form id="menuForm" prependId="false" style="text-align:center;"> 
          <h:link outcome="home"> 
            <h:graphicImage library="images" name="bola.png" 
              styleClass="banner" alt="Bola de Neve"/> 
          </h:link> 
          <ui:insert name="menu"> 
            <ui:include src="menu.xhtml" /> 
          </ui:insert> 
        </h:form> 
      </p:layoutUnit> 
 
      <p:layoutUnit position="center"> 
            <ui:insert name="content" /> 
        </p:layoutUnit> 
    </p:layout> 
    <ui:insert name="footer"> 
          <ui:include src="footer.xhtml" /> 
        </ui:insert> 
  </h:body> 
</f:view> 
</html>