<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile">
	<f:view locale="#{localeBean.locale}" contentType="text/html" renderKitId="PRIMEFACES_MOBILE">
	<h:head>
		<ui:insert name="header">
			<ui:include src="header.xhtml" />
		</ui:insert>
	</h:head>
	<h:body>
		<pm:page id="festajulina">
			<p:panel styleClass="menu-ex center-obj">
				<h:panelGrid columns="1">
					<p:panel cellspacing="0" cellpadding="0" styleClass="login-align">
						<h:form id="menuLogin">
							<h:link outcome="/pages/home">
								<h:graphicImage library="images" name="bola.png"
									styleClass="banner" alt="Bola de Neve"/>
							</h:link>
						</h:form>
					</p:panel>
				</h:panelGrid>
				<h:panelGrid columns="1" columnClasses="dadosLogin" styleClass="login-align">
					<h:form id="menuLogin2">
						<p:messages id="messagesLogin" showDetail="true" showSummary="false" 
									autoUpdate="true" closable="true" 
									showIcon="false" redisplay="false" styleClass="menu-message"/>
									
						<h:panelGrid columns="1" cellpadding="1">
							<p:outputLabel value="#{messages.label_login_user}" />
							<p:inputText value="#{loginController.username}" id="username"
								maxlength="30" requiredMessage="#{messages.message_login_username_required}"
								required="true" styleClass="login-input"/>
	
							<p:outputLabel value="#{messages.label_login_password}" />
							<p:password value="#{loginController.password}" id="password"
								maxlength="30" requiredMessage="#{messages.message_login_password_password}" 
								required="true" styleClass="login-input"/>
						</h:panelGrid>
	
						<h:panelGrid columns="1" cellpadding="10" styleClass="login-align">
							<p:commandButton id="testLogin" ajax="false"
								action="#{loginController.loginMobile}" value="#{messages.label_login_button}" />
						</h:panelGrid>
					</h:form>
				</h:panelGrid>
			</p:panel>
		</pm:page>
	</h:body>
</f:view>
</html>