<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:body>
      <p:panelMenu styleClass="menu">
        <p:submenu label="#{messages.submenu_festa_julina}" rendered="#{request.isUserInRole('ROLE_Menu')}">
          <p:menuitem value="#{messages.menuitem_buscaFestaJulina}" url="buscaCadFestaJulina.jsf"
            rendered="#{request.isUserInRole('ROLE_buscaCadFestaJulina')}" onclick="PF('statusDialog').show();" />  
          <p:menuitem value="#{messages.menuitem_cadFestaJulina}" url="cadFestaJulina.jsf"
            rendered="#{request.isUserInRole('ROLE_cadFestaJulina')}" onclick="PF('statusDialog').show();" />  
          <p:menuitem value="#{messages.menuitem_tabelaCadFestaJulina}" url="tabelaCadFestaJulina.jsf"
            rendered="#{request.isUserInRole('ROLE_tabelaCadFestaJulina')}" onclick="PF('statusDialog').show();" />  
          <p:menuitem value="#{messages.menuitem_uploadPlanilhaCadFestaJulina}" url="uploadPlanilhaCadFestaJulina.jsf"
            rendered="#{request.isUserInRole('ROLE_uploadPlanilhaCadFestaJulina')}" onclick="PF('statusDialog').show();" />  
          <p:menuitem value="#{messages.menuitem_downloadPlanilhaCadFestaJulina}" url="downloadPlanilhaCadFestaJulina.jsf"
            rendered="#{request.isUserInRole('ROLE_downloadPlanilhaCadFestaJulina')}" onclick="PF('statusDialog').show();" />   
        </p:submenu>
      </p:panelMenu>  
	
	  <h:outputLink styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"	
		 style="margin-top:10px;"
		 value="#{request.contextPath}/j_spring_security_logout">
	  	 <span class="ui-button-text ui-c">#{messages.label_logout}</span>				  
	  </h:outputLink>
	  
	</h:body>
</html>