<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:body>
		<h:outputStylesheet library="css" name="style.css" />
			<p:menu label="#{messages.submenu_festa_julina}" rendered="#{request.isUserInRole('ROLE_MenuMobile')}"
			styleClass="sideMenu">
				<p:menuitem value="#{messages.menuitem_buscaFestaJulina}" url="buscaCadFestaJulinaMobile.jsf"
					rendered="#{request.isUserInRole('ROLE_buscaCadFestaJulinaMobile')}" onclick="PF('statusDialog').show();" />
				 <p:menuitem value="#{messages.menuitem_cadFestaJulina}" url="cadFestaJulinaMobile.jsf"
            		rendered="#{request.isUserInRole('ROLE_cadFestaJulinaMobile')}" onclick="PF('statusDialog').show();" />  
			</p:menu>
			<br></br>
			<h:outputLink styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"	
						  style="margin-top:10px;"
						  value="#{request.contextPath}/j_spring_security_logout">
				<span class="ui-button-text ui-c">#{messages.label_logout}</span>				  
			</h:outputLink>
	</h:body>
</html>