<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile">
	<f:view locale="#{localeBean.locale}" contentType="text/html" renderKitId="PRIMEFACES_MOBILE">
	<h:head>
		<ui:insert name="header">
			<ui:include src="header.xhtml" />
		</ui:insert>
	</h:head>
	<h:body>
		<pm:page id="festajulina">
			<p:layout fullPage="true">
				<p:layoutUnit position="center">
					<pm:content>
				        <ui:insert name="content" />
				    </pm:content>
				</p:layoutUnit>
			</p:layout>
		</pm:page>
		<ui:insert name="footer">
        	<ui:include src="footer.xhtml" />
        </ui:insert>
	</h:body>
</f:view>
</html>