<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">  
  
    <h:head>  
  		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>DPI - GeraCookie</title>
    </h:head>  
      
    <h:body>  
      
        		<h:form id="form" acceptcharset="ISO-8859-1">	
			<p:panelGrid id="cookie" columns="3">
				
				<f:facet name="header">
					Cookies
				</f:facet>
				
				<h:outputLabel for="usuario" value="Usuário: " />  
				<p:inputText id="usuario" value="#{cookieController.usuario}"/>	
				<h:outputLabel for="usuario" value=" Ex: (IHSPLUS)" />  
	
				<h:outputLabel for="concessionaria" value="Concessionária: " />  
				<p:inputText id="concessionaria" value="#{cookieController.concessionaria}"/>	
				<h:outputLabel for="concessionaria" value=" Ex: (1017179)" />
				  
				<h:outputLabel for="empresa" value="Empresa: " />  
				<p:inputText id="empresa" value="#{cookieController.empresa}"/>	
				<h:outputLabel for="empresa" value=" Ex: (HDA)" />
				  
				<h:outputLabel for="filial" value="Filial: " />  
				<p:inputText id="filial" value="#{cookieController.argCodFilial}"/>	
				<h:outputLabel for="filial" value=" Ex: (0)" />  
				
				<f:facet name="footer">
					<p:commandButton id="setcookies" value="Set Cookies" update="cookie" action="#{cookieController.cookie}"></p:commandButton>
				</f:facet>
			
		</p:panelGrid>
		</h:form>	
          
    </h:body>  
</html>  