<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">
	
	<h:form id="frmBusca" enctype="multipart/form-data" prependId="false" >
		
			<p:panel id="busca" header="#{messages.label_title_busca_cad_festa_julina_codigoCadastro}" rendered="true">
				<p:messages id="messagesBusca" autoUpdate="true" closable="true" showIcon="true" showSummary="true"  />
				
				<br></br>
				
				<p:panel rendered="true" cellpadding="10">
				
					<h:panelGrid id="grid" columns="2" cellpadding="5"> 
						
						<p:outputLabel for="codigoCadastro" value="#{messages.label_field_busca_cad_festa_julina_codigoCadastro}" />						
						<p:inputText id="codigoCadastro" required="true" maxlength="255" value="#{cadFestaJulinaController.cadFestaJulinaTO.codigoCadastro}" 
									requiredMessage="#{messages.label_validation_sem_number_busca_cad_festa_julina_codigoCadastro}" 
									converterMessage="#{messages.label_validation_caracter_busca_cad_festa_julina_codigoCadastro}"/>
					</h:panelGrid>
				
				</p:panel>
				
				<br></br>
				
				<p:commandButton id="btnBuscar" value="#{messages.btn_buscar}" ajax="true" disabled="false" style="margin:5px"
					actionListener="#{cadFestaJulinaController.buscaCadFestaJulinaPorCodigoDeCadastro}" icon="ui-icon-search"/>
				
				<br />
			</p:panel>	
<!-- 		<div class="ui-fluid">
		    <p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" layout="grid" styleClass="ui-panelgrid-blank">
		        <p:outputLabel for="input" value="Input"/>
		        <p:inputText id="input"/>
		 
		        <p:outputLabel for="area" value="Textarea"/>
		        <p:inputTextarea id="area"/>
		 
		        <p:outputLabel for="calendar" value="Calendar"/>
		        <p:calendar id="calendar"/>
		 
		        <p:outputLabel for="ac" value="AutoComplete"/>
		        <p:autoComplete id="ac" completeMethod="#{autoCompleteView.completeText}" />
		 
		        <p:outputLabel for="mask" value="Mask"/>
		        <p:inputMask id="mask" mask="99/99/9999"/>
		 
		        <p:outputLabel for="pwd" value="Password"/>
		        <p:password id="pwd" />
		 
		        <p:outputLabel for="keyboard" value="Keyboard"/>
		        <p:keyboard id="keyboard" />
		 
		        <p:outputLabel for="onemenu" value="OneMenu"/>
		        <p:selectOneMenu id="onemenu">
		            <f:selectItem itemLabel="Select One" itemValue="" />
		            <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
		            <f:selectItem itemLabel="PS4" itemValue="PS4" />
		            <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
		        </p:selectOneMenu>
		 
		        <p:outputLabel for="spinner" value="Spinner"/>
		        <p:spinner id="spinner"/>
		 
		        <p:outputLabel for="slider" value="Slider"/>
		        <p:outputPanel>
		            <p:inputText id="slider"/>
		            <p:slider for="slider" />
		        </p:outputPanel>
		 
		        <p:outputLabel for="radio" value="Radio"/>
		        <p:selectOneRadio id="radio" value="#{radioView.city2}" layout="responsive" columns="3">
		            <f:selectItems value="#{radioView.cities}" var="c" itemLabel="#{city}" itemValue="#{city}"/>
		        </p:selectOneRadio>
		 
		        <p:outputLabel for="chkbox" value="Checkbox"/>
		        <p:selectManyCheckbox id="chkbox" value="#{checkboxView.selectedCities2}" layout="responsive" columns="3">
		            <f:selectItems value="#{checkboxView.cities}" var="city" itemLabel="#{city}" itemValue="#{city}" />
		        </p:selectManyCheckbox>
		 
		        <p:outputLabel for="btn" value="Button" />
		        <p:commandButton id="btn" value="Edit" icon="fa fa-edit" type="button"/>
		 
		        <p:outputLabel for="spbtn" value="SplitButton" />
		        <p:splitButton id="spbtn" value="Save" type="button" icon="ui-icon-disk">
		            <p:menuitem value="Update" url="#" icon="ui-icon-arrowrefresh-1-w" />
		            <p:menuitem value="Delete" url="#" icon="ui-icon-close" />
		            <p:separator />
		            <p:menuitem value="Homepage" url="http://www.primefaces.org" icon="ui-icon-extlink" />
		        </p:splitButton>
		 
		        <p:outputLabel for="chkmenu" value="CheckboxMenu" />
		        <p:selectCheckboxMenu id="chkmenu" label="Cities">
		            <f:selectItems value="#{checkboxView.cities}" />
		        </p:selectCheckboxMenu>
		 
		        <p:outputLabel for="booleanBtn" value="BooleanButton" />
		        <p:selectBooleanButton id="booleanBtn" onLabel="Yes" offLabel="No" onIcon="ui-icon-check" offIcon="ui-icon-close"/>
		 
		        <p:outputLabel for="oneBtn" value="One Button" />
		        <p:selectOneButton id="oneBtn">
		            <f:selectItem itemLabel="XB1" itemValue="XB1" />
		            <f:selectItem itemLabel="PS4" itemValue="PS4" />
		        </p:selectOneButton>
		 
		        <p:outputLabel for="manyBtn" value="ManyButton"/>
		        <p:selectOneButton id="manyBtn">
		            <f:selectItem itemLabel="Sentinel" itemValue="Sentinel" />
		            <f:selectItem itemLabel="Spark" itemValue="Spark" />
		            <f:selectItem itemLabel="Ronin" itemValue="Ronin" />
		            <f:selectItem itemLabel="Rio" itemValue="Rio" />
		            <f:selectItem itemLabel="Primus" itemValue="Primus" />
		        </p:selectOneButton>
		 
		        <p:outputLabel for="listbox" value="Listbox"/>
		        <p:selectOneListbox id="listbox">
		            <f:selectItem itemLabel="Sentinel" itemValue="Sentinel" />
		            <f:selectItem itemLabel="Spark" itemValue="Spark" />
		            <f:selectItem itemLabel="Ronin" itemValue="Ronin" />
		            <f:selectItem itemLabel="Rio" itemValue="Rio" />
		            <f:selectItem itemLabel="Primus" itemValue="Primus" />
		        </p:selectOneListbox>
		 
		        <p:outputLabel for="dialog" value="Dialog" />
		        <p:commandButton id="dialog" value="Show" icon="ui-icon-extlink" type="button" onclick="PF('dlg').show()" />
		    </p:panelGrid>
		 
		    <p:dialog header="Login" widgetVar="dlg" resizable="false" responsive="true">
		        <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4,ui-grid-col-8">
		            <h:outputLabel for="username" value="Username:" />
		            <p:inputText id="username" />
		 
		            <h:outputLabel for="password" value="Password:" />
		            <p:password id="password" />
		 
		            <f:facet name="footer">
		                <p:commandButton value="Login" type="button" onclick="PF('dlg').hide()"/>
		            </f:facet>  
		        </p:panelGrid>
		    </p:dialog>
		 
		    <p:chart type="line" model="#{chartView.lineModel1}" style="height:300px;margin:20px 0" responsive="true"/>
		 
		    <p:dataTable var="car" value="#{dtBasicView.cars}" reflow="true" style="margin-top:20px">
		        <f:facet name="header">
		            DataTable
		        </f:facet>
		        <p:column headerText="Id">
		            <h:outputText value="#{car.id}" />
		        </p:column>
		 
		        <p:column headerText="Year">
		            <h:outputText value="#{car.year}" />
		        </p:column>
		 
		        <p:column headerText="Brand">
		            <h:outputText value="#{car.brand}" />
		        </p:column>
		 
		        <p:column headerText="Color">
		            <h:outputText value="#{car.color}" />
		        </p:column>
		    </p:dataTable>
		 
		    <p:dataGrid var="car" value="#{dataGridView.cars}" columns="3" layout="grid"
		                rows="12" paginator="true" style="margin-top:20px">
		 
		        <f:facet name="header">
		            DataGrid
		        </f:facet>
		 
		        <p:panel header="#{car.id}" style="text-align:center">
		            <h:panelGrid columns="1" style="width:100%">
		                <p:graphicImage name="demo/images/car/#{car.brand}.gif"/> 
		 
		                <h:outputText value="#{car.brand} - #{car.year}" />
		            </h:panelGrid>
		        </p:panel>
		 
		    </p:dataGrid>
		 
		    <p:tree value="#{treeIconView.root}" var="doc" style="margin-top:20px">
		        <p:treeNode expandedIcon="ui-icon-folder-open" collapsedIcon="ui-icon-folder-collapsed">
		            <h:outputText value="#{doc.name}"/>
		        </p:treeNode>
		 
		        <p:treeNode type="document" icon="ui-icon-document">
		            <h:outputText value="#{doc.name}" />
		        </p:treeNode>
		 
		        <p:treeNode type="picture" icon="ui-icon-image">
		            <h:outputText value="#{doc.name}" />
		        </p:treeNode>
		 
		        <p:treeNode type="mp3" icon="ui-icon-video">
		            <h:outputText value="#{doc.name}" />
		        </p:treeNode>
		    </p:tree>
		 
		    <p:orderList value="#{orderListView.themes}" var="theme" itemValue="#{theme}" converter="theme" controlsLocation="left" responsive="true" style="margin-top:20px">                
		        <f:facet name="caption">Available</f:facet>
		 
		        <p:column style="width:25%">
		            <h:outputText styleClass="ui-theme ui-theme-#{theme.name}" />
		        </p:column>
		 
		         <p:column style="width:75%;">
		            <h:outputText value="#{theme.displayName}" />
		        </p:column>
		    </p:orderList>
		 
		    <p:accordionPanel style="margin-top:20px">
		        <p:tab title="Godfather Part I">
		            <p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-panelgrid-blank">
		                <p:graphicImage name="demo/images/godfather/godfather1.jpg" />
		                <h:outputText
		                    value="The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. 
		                    His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
		                    Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, 
		                    but given to ruthless violence whenever anything stands against the good of the family." />
		            </p:panelGrid>
		        </p:tab>
		        <p:tab title="Godfather Part II">
		            <p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" layout="grid" styleClass="ui-panelgrid-blank">
		                <p:graphicImage name="demo/images/godfather/godfather2.jpg" />
		                <h:outputText value="Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather, parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. 
		                              In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, 
		                              killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows." />
		            </p:panelGrid>
		        </p:tab>
		        <p:tab title="Godfather Part III">
		            <p:panelGrid columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" layout="grid" styleClass="ui-panelgrid-blank">
		                <p:graphicImage name="demo/images/godfather/godfather3.jpg" />
		                <h:outputText value="After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. 
		                              Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate." />
		            </p:panelGrid>
		        </p:tab>
		    </p:accordionPanel>
		 
		    <p:panelGrid layout="grid" columns="2" style="margin-top:20px">
		        <p:menu toggleable="true">
		            <p:submenu label="File">
		                <p:menuitem value="Save" url="#" icon="ui-icon-disk" />
		                <p:menuitem value="Update" url="#" icon="ui-icon-arrowrefresh-1-w"/>
		            </p:submenu>
		            <p:submenu label="Edit">
		                <p:menuitem value="Delete" url="#" icon="ui-icon-close"/>
		            </p:submenu>
		            <p:submenu label="View">
		                <p:menuitem value="External" url="http://www.primefaces.org" icon="ui-icon-home"/>
		                <p:menuitem value="Internal" outcome="/mobile/index" icon="ui-icon-star"/>
		            </p:submenu>
		        </p:menu>
		 
		        <p:panelMenu>
		            <p:submenu label="Ajax Menuitems">
		                <p:menuitem value="Save" url="#" icon="ui-icon-disk" />
		                <p:menuitem value="Update" url="#" icon="ui-icon-arrowrefresh-1-w"/>
		            </p:submenu>
		            <p:submenu label="Non-Ajax Menuitem">
		                <p:menuitem value="Delete" url="#" icon="ui-icon-close"/>
		            </p:submenu>
		            <p:separator />
		            <p:submenu label="Navigations" >
		                <p:submenu label="Links" icon="ui-icon-extlink">
		                    <p:submenu label="PrimeFaces" icon="ui-icon-heart">
		                        <p:menuitem value="Home" url="http://www.primefaces.org" icon="ui-icon-home" />
		                        <p:menuitem value="Docs" url="http://www.primefaces.org/documentation" icon="ui-icon-document" />
		                        <p:menuitem value="Download" url="http://www.primefaces.org/downloads" icon="ui-icon-arrowthick-1-s" />
		                        <p:menuitem value="Support" url="http://www.primefaces.org/support" icon="ui-icon-wrench" />
		                    </p:submenu>
		                </p:submenu>
		                <p:menuitem value="Mobile" outcome="/mobile/index" icon="ui-icon-signal" />
		            </p:submenu>
		        </p:panelMenu>
		    </p:panelGrid>
		 
		 
		    <p:panel header="Panel" footer="Movie Details" style="margin-top:20px">
		        <p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-panelgrid-blank">
		            <p:graphicImage name="demo/images/godfather/godfather1.jpg" />
		            <h:outputText
		                value="The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. 
		                His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
		                Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, 
		                but given to ruthless violence whenever anything stands against the good of the family." />
		        </p:panelGrid>
		    </p:panel>
		</div> -->
		</h:form>
	</ui:define>	
</ui:composition>
</html>