<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layoutLoginMobile.xhtml">
  <ui:define name="content">
    <p:panel id="mainPanel" toggleable="false" toggleSpeed="250">
    </p:panel>
  </ui:define>
</ui:composition>
</html>