<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">
	<ui:define name="content">
		<div class="ui-messages ui-widget">
			<div class="ui-messages-warn ui-corner-all">
				<span class="ui-messages-warn-icon"></span>
				<ul>
					<li><span class="ui-messages-warn-summary">#{messages.label_session_expired}</span></li>
				</ul>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>